<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fanatiic Sneakeers</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fem.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/footer.css">
    <script
    src="https://kit.fontawesome.com/69ed6b40bc.js"
    crossorigin="anonymous">
  </script>

</head>
<body>
    <nav>
        <header>
            <h1><a href="index.html" class="logo">Fanatiic Sneakeers</a></h1>
            <hr> <br>
            <div class="botoes">
                <a href="index.html" class="btn">Home</a>
                <a href="masc.html" class="btn">Masculino</a>
                <a href="fem.html" class="btnAtivo">Feminino</a>
            </div>
            <div class="login">
                <a href="login.html" class="btn">Entrar</a>
                <a href="carrinho.html" id="btn-carrinho" class="btn-carrinho"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </header>
    </nav>
    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="NikeCasualF.html">
                    <img src="img/NikeCasualF.jpg" alt="Imagem 1">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeCasualF2.html">
                    <img src="img/NikeCasualF2.jpg" alt="Imagem 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeCasualF3.html">
                    <img src="img/NikeCasualF3.jpg" alt="Imagem 3">
                </a>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="NikeEsportivoF1.html">
                    <img src="img/NikeEsportivoF1.jpg" alt="Imagem 4">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeEsportivoF2.html">
                    <img src="img/NikeEsportivoF2.jpg" alt="Imagem 5">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeEsportivoF3.html">
                    <img src="img/NikeEsportivoF3.jpg" alt="Imagem 6">
                </a>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="NikeInfantilF1.html">
                    <img src="img/NikeInfantilF1.jpg" alt="Imagem 6">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeInfantilF2.html">
                    <img src="img/NikeInfantilF2.jpg" alt="Imagem 7">
                </a>
            </div>
            <div class="grid-item">
                <a href="NikeInfantilF3.html">
                    <img src="img/NikeInfantilF3.jpg" alt="Imagem 8">
                </a>
            </div>
        </div>
    </section>
    
    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="adidas1F.html">
                    <img src="img/Adidas1F.jpg" alt="Imagem 9">
                </a>
            </div>
            <div class="grid-item">
                <a href="adidas2F.html">
                    <img src="img/AdidasF2.jpg" alt="Imagem 10">
                </a>
            </div>
            <div class="grid-item">
                <a href="adidas3F.html">
                    <img src="img/AdidasF3.jpg" alt="Imagem 11">
                </a>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="vansF.html">
                    <img src="img/VansF.jpg" alt="Imagem 12">
                </a>
            </div>
            <div class="grid-item">
                <a href="vansF2.html">
                    <img src="img/VansF2.jpg" alt="Imagem 13">
                </a>
            </div>
            <div class="grid-item">
                <a href="vansF3.html">
                    <img src="img/VansF3.jpg" alt="Imagem 14">
                </a>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="payment-icons">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg"
            alt="Visa"
          />
          <img
            src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg"
            alt="Mastercard"
          />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJb-peBXxPiGrWTCxxUcDnUiDrZdp3K1ukwxCcOW1lSQ&s"
            alt="American Express"
          />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHYN6Ml9cisu01sRmmSoZy5Afr3mBX4YMJ8jrZ_aAXhA&s"
            alt="Hipercard"
          />
          <img
            src="https://www.imagensempng.com.br/wp-content/uploads/2023/05/Logo-Elo-Png-1024x1024.png"
            alt="Elo"
          />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLfqIW413LIu7IrRxvrENAmYfE9excjkDOx9Hej8rwuA&s"
            alt="PayPal"
          />
        </div>
        <div class="contact">
          <p>ENTRE EM CONTATO</p>
          <a href="mailto:usepluie@gmail.com">fanatiic.sneakers@gmail.com</a>
        </div>
        <div class="disclaimer">
          <p>
            Copyright SNEAKERS. CNPJ: 00.000.000/0000-1. 2024. Todos os direitos
            reservados.
          </p>
        </div>
</body>
</html>