<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <script
      src="https://kit.fontawesome.com/69ed6b40bc.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="img/comprador.png" alt="torta" height="600px">
        </div>
        <div class="right-login">
            
            <div class="card-login">
                <div>
                    <a href="index.html" class="btnBack" title="Voltar">
                        <i class="fa-solid fa-arrow-left"></i>
                      </a>
                </div>
                
                <h1>Login</h1>
                <form>
                    <div class="textfield">
                        <label for="Email">E-mail:</label>
                        <input name="email" type="email" class="inp" placeholder="E-mail" required>
                    </div>
                    
                    <div class="textfield">
                        <label for="senha">Senha:</label>
                        <input name="senha" type="password" class="pswd" placeholder="Senha" required>
                    </div>
                    

                    <a href="index.html" class="loginbtn" button type="submit">Login</a>
                </form>
                    
                <div class="txtcdst">
                    Não possui cadastro? &nbsp; <a href="cadastro.html"><strong>Clique Aqui!</strong></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>