<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fanatiic Sneakeers</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/masc.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/footer.css">
    
    <script
      src="https://kit.fontawesome.com/69ed6b40bc.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <nav>
        <header>
            <h1><a href="index.html" class="logo">Fanatiic Sneakeers</a></h1>
            <hr> <br>
            <div class="botoes">
                <a href="index.html" class="btn">Home</a>
                <a href="masc.html" class="btnAtivo">Masculino</a>
                <a href="fem.html" class="btn">Feminino</a>
            </div>
            <div class="login">
                <a href="login.html" class="btn">Entrar</a>
                <a href="carrinho.html" id="btn-carrinho" class="btn-carrinho"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </header>
    </nav>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                
                <a href="dunklow.html" >
                    <img class="grid-image" src="img/NikeCasual1.jpg" alt="Imagem 1">
                </a>              
            </div>
            <div class="grid-item">
                <a href="aj1low.html" >
                    <img class="grid-image" src="img/NikeCasual2.jpg" alt="Imagem 2">
                </a>   
            </div>
        
            <div class="grid-item">
                <a href="SbForce.html" >
                    <img class="grid-image" src="img/NikeCasual3.jpg" alt="Imagem 3">
                </a>
            </div>
        </div>
        </div>
    </section>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="aj13.html" >
                    <img class="grid-image" src="img/NikeEsportivo1.jpg" alt="Imagem 1">
                </a>
            </div>
            <div class="grid-item">
                <a href="precision6.html" >
                    <img class="grid-image" src="img/NikeEsportivo2.jpg" alt="Imagem 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="airForce1Black.html" >
                    <img class="grid-image" src="img/NikeCasualF3.jpg" alt="Imagem 3">
                </a>
            </div>
        </div>
  
    </section>



    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="adidasSamba.html" >
                    <img class="grid-image" src="img/AdidasM1.jpg" alt="Imagem 1">
                </a>
            </div>
            <div class="grid-item">
                <a href="adidas2000.html" >
                    <img class="grid-image" src="img/AdidasM2.jpg" alt="Imagem 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="adidasCampus.html" >
                    <img class="grid-image" src="img/AdidasM3.jpg" alt="Imagem 3">
                </a>
            </div>
        </div>
  
    </section>

    <section class="gallery">
        <div class="grid-container">
            <div class="grid-item">
                <a href="VansKnu.html" >
                    <img class="grid-image" src="img/VansM1.jpg" alt="Imagem 1">
                </a>
            </div>
            <div class="grid-item">
               <a href="VansKnuBlack.html" >
                    <img class="grid-image" src="img/VansM2.jpg" alt="Imagem 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="vansUltra.html" >
                    <img class="grid-image" src="img/VansM3.jpg" alt="Imagem 3">
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="payment-icons">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg"
                alt="Visa"
              />
              <img
                src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg"
                alt="Mastercard"
              />
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJb-peBXxPiGrWTCxxUcDnUiDrZdp3K1ukwxCcOW1lSQ&s"
                alt="American Express"
              />
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHYN6Ml9cisu01sRmmSoZy5Afr3mBX4YMJ8jrZ_aAXhA&s"
                alt="Hipercard"
              />
              <img
                src="https://www.imagensempng.com.br/wp-content/uploads/2023/05/Logo-Elo-Png-1024x1024.png"
                alt="Elo"
              />
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLfqIW413LIu7IrRxvrENAmYfE9excjkDOx9Hej8rwuA&s"
                alt="PayPal"
              />
            </div>
            <div class="contact">
              <p>ENTRE EM CONTATO</p>
              <a href="mailto:usepluie@gmail.com">fanatiic.sneakers@gmail.com</a>
            </div>
            <div class="disclaimer">
              <p>
                Copyright SNEAKERS. CNPJ: 00.000.000/0000-1. 2024. Todos os direitos
                reservados.
              </p>
            </div>
    </section>

    

    <script src="../scriptShoes.js"></script>

</body>
</html>