.gallery {
    margin-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    overflow: hidden;
}

.grid-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.grid-image:hover  {
    transform: scale(1.1);
} 

